#map {
 	position: absolute;
 	top: 0;
    bottom: 0;
 	width: 100%;
}

#footer {
    background: transparent;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    display: inline-block;
}

.input-pill .button {
	max-width: 20%;
}

.dropdown {
	float: right;
}