body {
	margin: 0;
	padding: 0;
}

#map {
 	position: absolute;
 	top: 0;
 	bottom: 0;
 	width: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    display: inline-block;
}

.input-pill .button {
	max-width: 20%;
}

.dropdown {
	margin-left: 2%;
	float: left;
}