#map {
 	position: absolute;
 	top: 0;
    bottom: 0;
 	width: 100%;
}

#footer {
    background: transparent;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    display: inline-block;
}

.input-pill {
    position: absolute;
    width: 50%;
    left: 38%;
    top: 13px;
    height: 45px;
}

.input-pill .button {
    max-width: 20%;
}

.dropdown {
    max-width: 10%;
    float: left;
}

#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}


#directions {
    background: transparent;
    z-index: 99;
    top: 150px;
    height:300px;
    left: 10px;
    bottom: 0;
    overflow: auto;
}



#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}



#routes:not(:empty), 
#instructions:not(:empty) {
  background: rgba(0,0,0,.8);
}


.mapbox-directions-icon {
  background-image: url(https://api.tiles.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.1.0/mapbox.directions.png);
}

