<!DOCTYPE html>
<html>

	<% include header %>
  	<body>
  	
  		<style>
			.input-pill {
			  position:absolute;
			  top:8%;left:73%;
			  padding: 5px;
			  width:323px;
			}
			
			.rounded-toggle {
				position:absolute;
			  	top:1%;left:73%;;
			  	padding: 5px;
			}
		</style>
		
		<div id='map'></div>
		
		<div class='input-pill'>
		  <input class="col8" type="text" placeholder="enter current location">
		  <input class="button col4" type="submit" value="Submit">
		</div>
		
		
		
		<div class='rounded-toggle inline'>
		  <a  href='#'><span class='glyphicon glyphicon-home'>&nbspHotels</a>
		  <a class='active' href='#'><span class='glyphicon glyphicon-cutlery'>&nbspRestaurants</a>
		  <a href='#'><span class='glyphicon glyphicon-briefcase'>&nbspCompanies</a>
		</div>
		
		
			<script>
				L.mapbox.accessToken = 'pk.eyJ1IjoiY2h1a3p6eSIsImEiOiJlMDRiNjNlNGJmMmE1NDc1MGNlMWRlNDYxYjdlNzllYiJ9.HIP8SZFPE4VHvgvGb1LDZg';
				var map = L.mapbox.map('map', 'chukzzy.mdcmd242') .setView([6.4531, 3.3958], 13);
				
				/*L.mapbox.accessToken = 'pk.eyJ1IjoiY2h1a3p6eSIsImEiOiJlMDRiNjNlNGJmMmE1NDc1MGNlMWRlNDYxYjdlNzllYiJ9.HIP8SZFPE4VHvgvGb1LDZg';

				var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v4/chukzzy.mdcmd242/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    				attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
				});
				
				var map = L.map('map')
    				.addLayer(mapboxTiles)
    				.setView([6.4531, 3.3958], 10);*/
    				
    				
			</script>
	</body>
</html>