<nav class="navbar navbar-inverse navbar-fixed-top">

	<!-- change localhost to adress later -->
	
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3000">
      	<img alt="Brand" src="dice.png">
      </a>
    </div>
    
    <div>
    	<!-- change localhost to adress later -->
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:3000"><span class="glyphicon glyphicon-home glyphicon-white"> Home</a></li>
        <li><a href="/about"><span class="glyphicon glyphicon-pushpin glyphicon-white"> About</a></li>
        <li><a href="http://localhost:3000/contact"><span class="glyphicon glyphicon-phone glyphicon-white"> Contact</a></li>
      </ul>
    </div>
    
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   		<ol class="nav navbar-nav navbar-left">
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-center glyphicon-white"> More Info </a>
          		<ul class="dropdown-menu" role="menu">
            	<li><a href="resume">Resume</a></li>
            	<li><a href="#">Projects</a></li>
            	<li class="divider"></li>
            	<li><a href="#">Experiences</a></li>
          	</li>
      	</ol>
      </div>
	
</nav>