<div class="container">
	<div class="input-group">
        <input type="text" class="form-control search-form" placeholder="Search" ng-model="query">
    </div>

	<div class="error" ng-show="error">
		<p class="text-danger">Server says: {{ errorMessage }}</p>
	</div>

	<div class="search-result">
		<div class="empty-search" ng-show="!error && !events.length">
			<p class="text-info">No result matches your search</p>
		</div>
		<div class="places-result">
			<ul>
				<li ng-repeat="event in events | filter:query">
					{{ event }}
				</li>
			</ul>
		</div>
	</div>
</div>