<div class="container">

	<div class="input-group">
        <input type="text" class="form-control search-form" placeholder="Search" ng-model="query">
    </div>

    <!-- Only show this if theres an error -->
	<div class="error" ng-show="error">
		<p class="text-danger">Server says: {{ errorMessage }}</p>
	</div>

	<div class="search-result">
		<!-- The actual results -->
		<div class="places-result" ng-show="!olyPlace">
			<ul>
				<li ng-repeat="category in filtered = (categories | filter:query)">
					<a ng-click="showMe(category.name)">
						{{ category.name }}
					</a>
				</li>
			</ul>
		</div>

		<div class="place-result">
			<ul>
				<li ng-repeat="place in placeInfo.places">
					{{ place.name }} - {{ place.address }}
					<a href="/map/{{ place.latitude }}/{{ place.longitude }}">
						View
					</a>
				</li>
			</ul>
		</div>
		<!-- Only show this if the search result is empty -->
		<div class="empty-search" ng-show="!error && !filtered.length">
			<p class="text-info">No result matches your search</p>
		</div>
	</div>

</div>